/******** FONTS***********/
@font-face {
    font-family: MPReg;
    src: url('../fonts/Myriad Pro/MyriadPro-Regular.otf');
}

@font-face {
    font-family: MPSemiboldCond;
    src: url('../fonts/Myriad Pro/MyriadPro-SemiboldCond.otf');
}

@font-face {
    font-family: MPLightCond;
    src: url('../fonts/Myriad Pro/MyriadPro-LightCond.otf');
}

@font-face {
    font-family: MPCond;
    src: url('../fonts/Myriad Pro/MyriadPro-Cond.otf');
}

@font-face {
    font-family: MPLightIta;
    src: url('../fonts/Myriad Pro/MyriadPro-LightIt.otf');
}

::-webkit-scrollbar {
    width: 8px;
    height: 3px;
}

::-webkit-scrollbar-button {
    /* background-color: #666; */
}

::-webkit-scrollbar-track {
    background-color: #999;
}

::-webkit-scrollbar-track-piece {
    background-color: #E7E7E7;
}

::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #7C7C7C;
    border-radius: 3px;
}

::-webkit-scrollbar-corner {
    background-color: #999;
}

::-webkit-resizer {
    background-color: #666;
}

body {
    background: #EEEEEE;
    width: 100%;
    margin: auto;
    /* max-width: 1280px; */
    font-size: 100%;
}

.content-wrap {
    overflow: hidden;
    display: flex;
    background-color: #EEEEEE;
    /* top: 115px; */
    /* position: relative; */
    padding-top: 96px;
}

/********** COMMON ************/
a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/********** HEADER **************/

header {
    width: 100%;
    margin: auto;
    position: fixed;
    /* top: 0px; */
    /* float: left; */
    /* height: 115px; */
    z-index: 100;
}

.header_wrap {
    width: 100%;
    margin: auto;
    overflow: hidden;
    background: #226B36;
    height: 96px;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.84);
    -moz-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.84);
    box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.84);
}

.logo {
    width: 200px;
    float: left;
    margin-left: 8%;
}

.logo img {
    width: 100%;
    margin-top: 4%;
}

.fa-power-off {
    color: #FCFCFC !important;
    /* float: right; */
    /* margin: 26px 3% 0 0; */
    /* width: 3% !important; */
}

#logout {
    cursor: pointer;
    overflow: hidden;
    float: right;
    margin: 28px 30px 0 0;
}

.user {
    font-family: mpreg;
    float: right;
    color: #E2E2E2;
    margin: 30px 2%;
    font-size: 1.5em;
}

/************ SIDEBAR **************/
.owl-carousel {
    display: none !important;

}

.sidebar.small {
    background: rgba(94, 94, 94, 0.85);

    margin-top: -115px;
    height: 90px;
    padding: 0 0 10px 0;
    z-index: 100;
}

.sidebar.small .owl-carousel .owl-controls {
    display: none !important;
}

.sidebar.small .item {
    color: rgb(240, 240, 240);
}

.sidebar.small .item .fa {
    color: rgb(234, 234, 234);
}

.owl-carousel .item {
    text-align: center;
    font-family: MPReg;
    color: #2E2E2E;

    font-size: 1.3em;
    padding: 15% 0;
}

.owl-carousel .item .fa {
    margin: 0 0 10px 0;
    padding: 0;
}

.sidebar {
    width: 24%;
    background: #D0D0D0;
    /* border-left: 4px solid #F2C911; */
    max-width: 300px;
    position: fixed;
    top: 96px;
    bottom: 0;
    padding: 20px 10px 0 0;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.sidebar .tabs {
    padding: 0;
    margin: 0;
    /* overflow-y: scroll; */
    /* top: 0; */
    /* bottom:0; */
    /* position:fixed; */
    /* overflow-y:scroll; */
    /* overflow-x: scroll; */
    /* width: 22%; */
    /* white-space: nowrap; */
}

.sidebar .tabs li {
    list-style: none;
    overflow: hidden;
    border-left: 7px solid #D0D0D0;
    /* border-bottom: 1px solid #1E242B; */
    /* border-top: 1px solid #383E4A; */
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -ms-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    /* border-bottom: 0px solid #FFFFFF; */
}

.sidebar .tabs li:hover, .sidebar .tabs li.active {
    border-left: 7px solid #226B36;
}

.sidebar .tabs li:hover .fa,
.sidebar .tabs li:hover .name,
.sidebar .tabs li.active .name,
.owl-carousel li.active .name,
.sidebar .tabs li.active .fa,
.owl-carousel li.active .fa {
    color: #226B36;
}

.sidebar.small .owl-carousel li.active .name,
.sidebar.small .owl-carousel li.active .fa {
    color: rgb(152, 215, 130);
}

.sidebar .tabs li .fa {
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -ms-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}

.sidebar .tabs li .name {
    float: left;
    margin: 8% 0;
    font-family: mpreg;
    font-size: 1.6vw;
    color: #444343;
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -ms-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}

.fa-users,
.fa-list,
.fa-list-alt,
.fa-bell,
.fa-bullhorn,
.fa-file-text,
.fa-child,
.fa-user,
.fa-key,
.fa-calendar,
.fa-calendar-o,
.fa-gear,
.fa-user-md,
.fa-stethoscope,
.fa-pencil-square-o {
    float: left;
    margin: 5% 10%;
    color: #444343;
}

/*********** CONTENT ****************/

.content, .content_cirugias {
    overflow: hidden;
    width: 75%;
    margin: 2% 2% 2% 27%;
    min-height: 400px;
    max-width: 1200px;
}

.steps-wrap {
    padding: 0;
    float: right;
    overflow: hidden;
    width: 30%;
    margin-bottom: -7%;
}

.steps-wrap .step {
    float: left;
    list-style: none;
    background: #888888;
    color: #ADADAD;
    text-align: center;
    padding: 1% 0%;
    margin: 0 0 0 1%;
    width: 49%;
    font-weight: bold;
    cursor: default;
}

.steps-wrap .step .name {
    font-family: mpcond;
    font-size: 2vw;
}

.steps-wrap .on {
    background: #1ABB9A;
    color: #fff;
}

.steps-wrap .step .description {
    font-family: MPLightCond;
    font-size: 1.5vw;
}

.content > .title, .content_cirugias > .title {
    font-family: mpcond;
    text-transform: uppercase;
    font-size: 2.3em;
    /* float: left; */
    width: 100%;
    border-bottom: 5px solid #CBCBCB;
    margin-top: 2%;
    margin-bottom: 2%;
}

.confirm {
    clear: both;
    width: 52%;
    margin: auto;
    margin-top: 5%;
    background: #FFF;
    padding: 3% 6% 6% 6%;
    text-align: center;
    font-family: MPLightIta;
    font-size: 2.5vw;
    color: rgb(97, 97, 97);
    -webkit-box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    -moz-box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
}

.confirm span {
    width: 100%;
    float: left;
    font-weight: bold;
}

/******* FORMS *********/
.error {
    color: rgba(255, 77, 80, 1.00);
    float: left; /* text-transform: uppercase; */
    font-style: italic;
}

.forms-wrap {
    width: 100%;
    float: left;
    overflow: hidden;
}

.form {
    background: #fff;
    float: left;
    width: 74%;
    margin: 1% 0;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    -moz-box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    font-family: mpreg;
    padding: 2%;
}

.inputs-wrap {
    display: none;
    float: left;
    width: 100%;
}

.display {
    display: block;
}

.form .input {
    float: left;
    width: 100%;
    overflow: hidden;
    margin: 1% 0 1% 0%;
}

.fa-chevron-down {
    float: right;
    /* margin: 2%; */
    cursor: pointer;
}

.fa-times-circle {
    float: right;
    /*padding: 2%;*/
    color: #989898;
    font-size: 1.2vw;
    cursor: pointer;
}

.fa-chevron-right {
    float: left;
    /* width: 5%; */
}

.form .title {
    float: left;
    width: 100%;
    margin: -1% 0 2% 0%;
    padding: 1% 0 0.5% 0;
    border-bottom: 2px solid #7EB878;
    font-size: 1.5vw;
    cursor: pointer;
}

.form .input label {
    float: left;
    width: 23%;
    padding-left: 4%;
    font-size: 1.5vw;
    /* text-align: center; */
}

.form select {
    float: left;
    width: 40%;
    border: 1px solid #F2BA11;
    /* padding: 0.5%; */
    font-style: italic;
}

.form input {
    float: left;
    width: 40%;
    font-style: italic;
}

.form textarea {
    float: left;
    width: 40%;
    font-style: normal;
    font-size: 1vw;
}

.form .required {
    float: left;
    width: 11%;
    font-style: italic;
    color: #F2BA11;
    margin-left: 5%;
    font-size: 1vw;
}

.form .radio {
    width: 19%;
    float: left;
}

.form .radio input {
    width: 20%;
}

.form .checkbox {
    width: 2%;
    margin: 1% 0;
}

.form .inputs-wrap > label {
    float: left;
    width: 23%;
    margin: 1% 0;
}

.form .title .subtitle {
    font-style: italic;
    /* font-size: 1.3vw; */
}

.form img {
    float: left;
    width: 52%;
}

.form .etiqueta {
    float: left;
    overflow: hidden;
    width: 20%;
}

.etiqueta > .checkbox {
    width: 20%;
}

.siguiente {
    float: left;
    width: 18%;
    margin: 2% 29%;
    background: #F2BA11;
    /* border-radius: 10px; */
    overflow: hidden;
    cursor: pointer;
}

#submit {
    font-family: MPSemiboldCond;
    background: none;
    border: none;
    color: #fff;
    font-size: 2.5vw;
    float: left;
    width: 80%;
    cursor: pointer;
}

.next {
    color: #fff;
    font-size: 2vw;
    margin: 5% 0% 4% 0%;
    width: 20%;
}

/********** NOTIFICACIONES Y NOVEDADES ********/

.cards-wrap {
    /* float: left; */
    width: 100%;
    margin-bottom: 2%;
    overflow: hidden;
}

.cards-wrap .card {
    float: left;
    width: 60%;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    -moz-box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    margin: 1% 0;
    cursor: pointer;
    overflow: hidden;
}

.check {
    opacity: 0.3;
}

.uncheck {
}

.card img {
    float: left;
    width: 20%;
    margin-bottom: -0.2%;
}

.card .fa {
    float: right;
    color: #5C5F69;
    margin: 2%;
    /* font-size: 4vw; */
}

.card .doc {
    float: left;
}

.card .title {
    /* font-family: mpsemiboldcond !important; */
    width: 35% !important;
    color: rgb(116, 116, 116) !important;
    /* font-size: 2.3vw; */
    margin: 1% 0 0 2% !important;
    /* float: left; */
}

.card > .novedad-date {
    margin: 1% 0 0 2% !important;
    /* width: 20% !important; */
}

.card .date {
    float: left;
    width: 68%;
    font-family: MPLightIta;
    color: #B5B5B5;
    margin: 2% 0 0 2%;
    font-size: 1.3vw;
}

.card .name {
    float: left;
    width: 60%;
    margin: 0.5% 0 0 2%;
    font-family: mpreg;
    font-size: 1.3vw;
}

.card .type {
    font-size: 1.4vw;
    font-family: mpreg;
    margin: 2% 0 -2% 2%;
    float: left;
    width: 50%;
}

.card .text {
    font-family: mpreg;
    color: #262D38;
    width: 68%;
    font-size: 1.4vw;
    float: left;
    margin: 1% 0 0 2%;
    text-align: justify;
}

.content .info-wrap {
    overflow: hidden;
    font-family: mpreg;
    font-size: 1.2vw;
    margin: 6% 0 -8%;
}

.content .info-wrap .resultados {
    float: right;
    margin-top: 3px;
    margin-right: 1%;
}

.content .info-wrap .resultados #number {
    color: #19BA99;
}

.content .info-wrap .ordenar {
    float: right;
    margin-right: 2%;
}

.content .propiedades-wrap {
    margin: 0;
}

/***** CONTENT ************/

.content table {
    width: 100%;
    border: 2px solid #fff;
    font-family: mpreg;
    font-size: 1.2em;
    color: #585858;
    border: 1px solid #fff;
    border-collapse: collapse;
    margin-bottom: 2%;
}

.content table select, .content table input, .content table textarea {
    width: 100%;
    margin-bottom: 2%;
    font-size: 0.8em;
}

.content table th, .content table td {
    cursor: pointer;
    border: 1px solid #CACACA;
    padding: 1%;
    font-weight: 100;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.content table thead > .tr_head {
    background: linear-gradient(#5BAD55, rgb(115, 182, 137)) !important; /* For Safari 5.1 to 6.0 */
    background: linear-gradient(#5BAD55, rgb(115, 182, 137)) !important; /* For Opera 11.1 to 12.0 */
    background: linear-gradient(#5BAD55, rgb(115, 182, 137)) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5BAD55, rgb(115, 182, 137)) !important; /* Standard syntax */
    color: #FBFBFB;
}

.presente {
    background: -webkit-linear-gradient(#c1f7be, rgb(193, 247, 190)) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c1f7be, rgb(193, 247, 190)) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c1f7be, rgb(193, 247, 190)) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c1f7be, rgb(193, 247, 190)) !important; /* Standard syntax */
    color: #333;
}

.presente a {
    color: inherit;
}

.content table tr {
    width: 100%;
}

.content table tr:nth-child(odd) {
    background: #FAFAFA;
}

.content table tr:ntd-child(odd) {
    background: #FAFAFA;
}

.content table i {
    color: #353535;
    cursor: pointer;
}

.content table a {
    color: inherit;
}

#listado .title {
    border-bottom: 4px solid #858885;
    margin: 10px 0;
}

#listado .title .button {
    width: 40%;
    padding: 20px 0;
    margin-left: 0 !important;
}

/********** FORM PACIENTE *************/
#agenda_quirurgica .form-time-wrap {
    overflow: hidden;
    width: 300px;
    margin: 10px auto;
}

#agenda_quirurgica .form-time {
    width: 46%;
    margin: 1%;
    height: 35px;
}

#agenda_quirurgica .form-time input {
}

#paciente,
#agenda_quirurgica {
    /* float: left; */
    width: 99%;
    box-sizing: border-box;
    /* width: 100%; */
    background: #fff;
    padding: 1%;
    font-family: mpreg;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
}

#paciente input,
#paciente select,
#agenda_quirurgica input,
#agenda_quirurgica select {
    padding: 0.5% 1%;
    text-transform: uppercase;
    font-family: mpreg;
    font-style: italic;
    box-sizing: border-box;
    width: 24.55%;
    font-size: 1.1em;
    margin: 1px 0;
}

#paciente .submit,
#agenda_quirurgica .submit {
    background: #226B36;
    border: none;
    color: #fff;
    padding: 1%;
    cursor: pointer;
}

/********** FILTER PACIENTE *************/
.filtro-asistencia {
    background: none !important;
    /* border: 0 !important; */
}

.filtro-asistencia th {
    padding: 0;
    border: 0;
    background: none;
    border-style: hidden;
}

.filtro-asistencia input:first-child {
}

.filtro-asistencia input {
    width: 20%;
    padding: 2% 0 2% 2%;
    box-sizing: border-box;
    font-family: mpreg;
    font-size: 3vh;
    font-style: italic;
}

/***************** FULL CALENDAR CIRUGIAS **************/

.content_cirugias {
    font-family: MPReg;
    font-size: 1em;
    /* margin-left: 25%; */
}

#calendar {
    margin-top: 40px;
    z-index: 1;
}

.fc-view-container {
    background: rgba(255, 255, 255, 0.82);
}

/***************** FOOTER **************/

footer {
    display: none;
    clear: both;
    width: 100%;
    border-top: solid;
    border-top-color: #F2C911;
    border-top-width: thick;
}

.foot_1 {
    width: 100%;
    background: #E6E6E6;
    overflow: hidden;
    display: none;
}

.foot_1_wrap {
    width: 70%;
    margin: auto;
    overflow: hidden;
}

.foot_menu {
    margin: 2% 0 0 0;
    padding: 0;
    float: right;
    width: 60%;
    overflow: hidden;
}

.foot_menu li {
    float: left;
    list-style: none;
    width: 33%;
}

.foot_menu a {
    font-family: MPReg;
    font-size: 1.5vw;
    color: #F2C911;
}

.foot_menu li ul {
}

.foot_menu li ul li {
    display: block;
    font-family: MPLightIta;
    font-size: 1.3vw;
    color: #58585A;
    margin-top: 2%;
    width: 100%;
}

.foot_menu li ul a {
    font-family: MPLightIta;
    color: #58585A;
}

.foot_submenu {
    padding: 0;
    width: 100%;
}

.foot_2 {
    background: #aa711f;
    overflow: hidden;
    padding-bottom: 3%;
}

.foot_2_wrap {
    width: 60%;
    margin: 0 25%;
    overflow: hidden;
}

.development {
    float: right;
    width: 24%;
    margin: 5% 10% 0 0;
}

.development_title {
    font-family: MPCond;
    font-size: 2vw;
    color: #F2C911;
}

.development_txt {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5vw;
    color: #F2F2F2;
}

.social img {
    width: 25%;
}

/*********** MEDIA QUERIES **************/
@media screen and (min-width: 1280px) {
    .content, .content_cirugias {
        margin-left: 345px;
    }

    .user {
        /* font-size: 22px; */
    }

    .sidebar .tabs li .name {
        font-size: 22px;
    }

    .content > .title {
        font-size: 30px;
    }

    .form .input label {
        font-size: 17px;
    }

    .form .title {
        font-size: 20px;
    }

    .form {
        font-size: 16px;
    }

    .steps-wrap .step .name {
        font-size: 28px;
    }

    .steps-wrap .step .description {
        font-size: 20px;
    }

    .social_title {
        font-size: 30px;
    }

    .social_txt {
        font-size: 17px;
    }

    .fa-2x {
        /* font-size:2vw !important; */
    }

    .siguiente {
        float: left;
        width: 18%;
        margin: 2% 29%;
        background: #F2BA11;
        /* border-radius: 10px; */
        overflow: hidden;
        cursor: pointer;
    }

    #submit {
        /* font-family: MPSemiboldCond; */
        /* background: none; */
        /* border: none; */
        /* color: #fff; */
        font-size: 30px;
        /* float: left; */
        /* width: 80%; */
        /* cursor: pointer; */
    }

    .next {
        /* color: #fff; */
        font-size: 25px;
        /* margin: 5% 0% 4% 0%; */
        /* width: 20%; */
    }

    .content .info-wrap {
        font-size: 19px;
    }

    .card .type {
        font-size: 20px;
    }

    .card .fa {
        font-size: 24px !important;
    }

    .card .doc {
        font-size: 70px !important;
    }

    .card .date {
        font-size: 19px;
    }

    .card .name {
        font-size: 18px;
    }

    .card .text {
        font-size: 17px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .form {
        width: 95%;
    }

    .form .required {
        font-size: 1.5vw;
    }

    .content table {
        font-size: 1em;
    }

    /*************** FOOTER ************/
    .foot_1_wrap {
        width: 100%;
    }

    .foot_1 img {
        /* float: none; */
        /* width: 70%; */
    }

    .foot_menu {
        width: 100%;
        float: none;
        display: none;
    }

    .foot_menu a {
        font-size: 4vw;
    }

    .foot_2_wrap {
        width: 100%;
        margin: 0;
    }

    .social img {
        width: 65%;
    }

    .social_title {
        font-size: 3vw;
    }

    .social {
        margin: 5% 17% 0 0;
        width: 11%;
    }

    .social_txt {
        font-size: 2vw;
        /* width: 100%; */
    }

    .siguiente {
        float: left;
        width: 21%;
        margin: 2% 38%;
        background: #F2BA11;
        /* border-radius: 10px; */
        overflow: hidden;
        cursor: pointer;
    }

    #submit {
        /* font-family: MPSemiboldCond; */
        /* background: none; */
        /* border: none; */
        /* color: #fff; */
        font-size: 3vw;
        /* float: left; */
        /* width: 80%; */
        /* cursor: pointer; */
    }

    .next {
        color: #fff;
        font-size: 2.5vw;
        margin: 6% 0% 4% 0%;
        width: 20%;
    }

    .content .info-wrap {
        font-size: 2vw;
    }

    .card .type {
        font-size: 2vw;
    }

    .card .fa {
        font-size: 2.5vw;
    }

    .card .date {
        font-size: 1.9vw;
    }

    .card .doc {
        font-size: 70px;
    }

    .card .name {
        font-size: 1.9vw;
    }

    .card .text {
        font-size: 1.9vw;
    }

    .cards-wrap .card {
        width: 80%;
    }

    .content .propiedades-wrap {
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    body {
        font-size: 80%;
    }

    header {
        position: inherit;
        height: 115px;
    }

    .content-wrap {
        overflow: hidden;
        display: block;
        padding-top: 0;
    }

    .header_wrap {
        padding: 0;
    }

    .user {
        font-size: 3vw;
        /* margin-top: 3%; */
    }

    .logo {
        /* width: 44%; */
        /* padding: 2% 0; */
    }

    .owl-carousel {
        display: block !important;
    }

    .sidebar .tabs {
        display: none
    }

    .sidebar .fa {
        width: 100%;
    }

    .fa-2x {
        font-size: 5vw !important; /* width: 81%; */
        color: rgb(60, 71, 63);
    }

    .content, .content_cirugias {
        width: 95%;
        padding: 0 2%;

        margin: 120px 0 0 0;
    }

    .form {
        width: 95%;
    }

    .forms-wrap {
    }

    .form .title {
        font-size: 3vw;
    }

    .form .required {
        font-size: 2.2vw;
    }

    .form .input label {
        font-size: 2.2vw;
    }

    .sidebar {
        width: 100%;
        border-left: none;
        /* border-bottom: 4px solid #F2BA11; */
        max-width: none;
        /* min-height: 0; */
        margin-top: 0;
        padding-top: 0;
        background: none;
        bottom: initial;
        top: initial;
        height: 130px;
        overflow: initial;
        /*position: initial;*/
        /* border-bottom: 2px solid #5C5C5C; */
    }

    .sidebar .tabs li {
        width: 20%;
        float: none;
        display: inline-block;
        border-bottom: 2px solid #646464;
        border-right: 1px solid #383E4A;
        border-left: 1px solid #1E242B;
        box-sizing: border-box;
        margin-bottom: -1px;
        /* margin-right: -1px; */
        text-align: center;
    }

    .sidebar .tabs li:hover {
        border-bottom: 2px solid #646464;
        border-right: 1px solid #383E4A;
        border-left: 1px solid #1E242B;
    }

    .content > .title {
        font-size: 4vw;
    }

    .steps-wrap .step .name {
        font-size: 4vw;
    }

    .steps-wrap .step .description {
        font-size: 2.5vw;
    }

    .steps-wrap {
        width: 50%;
    }

    .sidebar .tabs li .name {
        font-size: 2.3vw;
        width: 100%;
    }

    .form .checkbox {
        width: 10%;
    }

    #paciente input, #paciente select {
        width: 24%;
        font-size: 1.3em;
    }

    /*************** FOOTER ************/
    .foot_1_wrap {
        width: 100%;
    }

    .foot_1 img {
        /* float: none; */
        /* width: 70%; */
    }

    .foot_menu {
        width: 100%;
        float: none;
        display: none;
    }

    .foot_menu a {
        font-size: 4vw;
    }

    .foot_2_wrap {
        width: 100%;
        margin: 0;
    }

    .social img {
        width: 65%;
    }

    .social_title {
        font-size: 3vw;
    }

    .social {
        margin: 5% 17% 0 0;
        width: 11%;
    }

    .social_txt {
        font-size: 2vw;
        /* width: 100%; */
    }

    .siguiente {
        /* float: left; */
        width: 27%;
        margin: 2% 35%;
        /* background: #F2BA11; */
        /* border-radius: 10px; */
        /* overflow: hidden; */
        /* cursor: pointer; */
    }

    #submit {
        /* font-family: MPSemiboldCond; */
        /* background: none; */
        /* border: none; */
        /* color: #fff; */
        font-size: 5vw;
        /* float: left; */
        width: 80%;
        /* cursor: pointer; */
    }

    .next {
        /* color: #fff; */
        font-size: 4vw;
        margin: 7% 0% 4% 0%;
        /* width: 20%; */
    }

    .content .info-wrap {
        font-size: 2.5vw;
    }

    .card .type {
        font-size: 2.5vw;
    }

    .card .fa {
    }

    .card .doc {
        font-size: 70px;
    }

    .card .date {
        font-size: 2.4vw;
        width: 50%;
    }

    .card .name {
        font-size: 2.4vw;
    }

    .card .text {
        font-size: 3vw;
        margin-top: 0%;
    }

    .cards-wrap .card {
        width: 98%;
    }

    .content .propiedades-wrap {
        width: 97%;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 100%;
    }

    header {
        position: inherit;
        height: 135px;
    }

    .content-wrap {
        overflow: hidden;
        display: block;

        padding-top: 0;
    }

    .header_wrap {
        padding: 0% 0 0 0;

        height: 135px;
    }

    .user {
        font-size: 1.2em;
        margin: 4px 0px 0 0;

        float: left;
        text-align: end;
        width: 62%;
        /* height: 27px; */
    }

    .logo {
        width: 50%;
        /* padding: 2% 0; */

        margin: 0 25%;
        float: none;
    }

    .fa-2x {
        font-size: 6vw !important;
        padding: 0; /* margin: 20px 20px 0 0; */
    }

    .content {
        width: 96%;
        /* padding: 0 2%; */
        margin: 80px 2% 0 2%;
    }

    .form {
        width: 95%;
    }

    .forms-wrap {
    }

    .form .title {
        font-size: 1em;
    }

    .form .input label {
        font-size: 3vw;

        width: 33%;
    }

    #logout {
        float: right;
        width: 35%;
        margin: 0;
    }

    #logout .fa {
        float: right;
        font-size: 1.5em !important;
        text-align: initial;
        /* padding-left: 5px; */
        margin: 0;
        width: 100% !important;
        /* width: 20px !important; */
    }

    .owl-carousel {
        display: block !important;
    }

    .owl-carousel .item {
        font-size: 1em;
    }

    .owl-carousel .item .fa {
        float: inherit;
        color: rgb(81, 98, 81);
    }

    .owl-theme .owl-controls {
        margin-top: 5px !important;
    }

    .owl-carousel .owl-stage-outer {
        height: 88px;
    }

    .content_cirugias {
        margin-left: 0;
        width: 98%;
        margin: 108px auto;
    }

    .sidebar .tabs {
        display: none
    }

    .sidebar {
        width: 100%;
        border-left: none;
        /* border-bottom: 4px solid #F2BA11; */
        max-width: none;
        /* min-height: 0; */
        background: none;
        bottom: initial;
        top: initial;
        padding-top: 0;
        height: 130px;
        overflow: initial;
        /*position: initial;*/
        /* border-bottom: 2px solid #5C5C5C; */
    }

    .sidebar .tabs li {
        width: 20%;
        float: none;
        display: inline-block;
        border-bottom: 2px solid #646464;
        border-right: 1px solid #383E4A;
        border-left: 1px solid #1E242B;
        box-sizing: border-box;
        margin-bottom: -1px;
        /* margin-right: -1px; */
        text-align: center;
    }

    .sidebar .tabs li:hover {
        border-bottom: 2px solid #646464;
        border-right: 1px solid #383E4A;
        border-left: 1px solid #1E242B;
    }

    .content > .title {
        font-size: 2em;

        margin-top: 10%;
    }

    .steps-wrap .step .name {
        font-size: 4vw;
    }

    .steps-wrap .step .description {
        font-size: 2.5vw;
    }

    .steps-wrap {
        width: 50%;
    }

    .sidebar .tabs li .name {
        /* font-size: 2.3vw; */

        display: none;
    }

    .form .required {
        font-size: 3vw;
    }

    .form select {
        width: 40%;
    }

    .form input {
        width: 36%;
    }

    .form textarea {
        width: 36%;
    }

    .form .checkbox {
        width: 10%;
    }

    .form .etiqueta {
        width: 33%;
    }

    /*************** FOOTER ************/
    .foot_1_wrap {
        width: 100%;
    }

    .foot_1 img {
        /* float: none; */
        /* width: 70%; */
    }

    .foot_menu {
        width: 100%;
        float: none;
        display: none;
    }

    .foot_menu a {
        font-size: 4vw;
    }

    .foot_2_wrap {
        width: 100%;
        margin: 0;
    }

    .social img {
        width: 65%;
    }

    .social_title {
        font-size: 6vw;
    }

    .social {
        margin: 5% 8% 0 0;
        width: 24%;
    }

    .social_txt {
        font-size: 4vw;
    }

    .siguiente {
        /* float: left; */
        width: 33%;
        margin: 2% 29%;
        /* background: #F2BA11; */
        /* border-radius: 10px; */
        /* overflow: hidden; */
        /* cursor: pointer; */
    }

    #submit {
        /* font-family: MPSemiboldCond; */
        /* background: none; */
        /* border: none; */
        /* color: #fff; */
        font-size: 5vw;
        /* float: left; */
        /* width: 80%; */
        /* cursor: pointer; */
    }

    .next {
        /* color: #fff; */
        font-size: 5vw;
        margin: 5% 0% 2% 0%;
        /* width: 20%; */
    }

    .content .info-wrap {
        font-size: 3.3vw;
    }

    .card .type {
        font-size: 3.5vw;
    }

    .card .fa {
    }

    .card .doc {
        font-size: 70px;
    }

    .cards-wrap .card {
        width: 99%;
    }

    .card .date {
        width: 50%;
        font-size: 3.4vw;
    }

    .card .name {
        font-size: 3.4vw;
    }

    .card .text {
        font-size: 3vw;
        /* margin-top: -4%; */
    }

    /*********** DATE PICKER **********/
    #ui-datepicker-div {
        left: 0 !important;
        right: 0 !important;
        width: 97%;
    }

    .sidebar.small {
        margin-top: -135px;
    }

    #paciente input, #paciente select {
        width: 47%;
        height: 30px;
        font-size: 1em;
        margin: 2px 1%;
        box-sizing: border-box;
    }

    #listado .title .button {
        width: 100%;
        height: inherit;
    }
}