/***** BUSCADOR ******/

.buscador-wrap {
    float: left;
    width: 25%;
    background: #E5E5E5;
    margin-top: 5%;
}

.aplicados-wrap {
    background: #1ABB9A;
    float: left;
    width: 90%;
    /* margin-top: 6%; */
    padding: 5%;
}

.aplicados-wrap .title {
    text-transform: uppercase;
    text-align: center;
    background: #B2B2B2;
    padding: 5% 0;
    font-family: mpreg;
    margin-bottom: 5%;
    color: #EBEBFA;
    font-size: 1.2vw;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    -moz-box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    cursor: pointer;
}

.aplicados {
    width: 100%;
    margin: auto;
    padding: 0;
}

.aplicados li {
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-family: mpreg;
    font-size: 1.2vw;
    background: #ECECFB;
    margin: 2% 0;
    padding: 4% 0;
    text-transform: capitalize;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    -moz-box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    cursor: pointer;
}

.aplicados a {
    color: #1ABB9A;
    text-transform: uppercase;
}

.search-mobile-bar {
    display: none;
    /* padding:11px; */
    background: #242628;
    text-transform: uppercase;
    overflow: hidden;
}

.mobile-search-name {
    display: none;
}

.search-mobile-bar {
    display: none;
}

#search-box {
    display: none;
}

#search-submit {
    display: none;
}

.buscador-wrap .search-bar {
    font-family: mpsemiboldcond;
    text-transform: uppercase;
    font-style: italic;
    float: left;
    padding: 4% 2%;
    width: 62%;
    font-size: 1.4vw;
    margin: 5% 2%;
    border: none;
}

.search-bar-wrap {
    width: 100%;
    overflow: hidden;
    background: #232527;
}

.buscador-wrap .buscador-icon {
    float: right;
    width: 27%;
}

.buscador-wrap .filtros {
    float: left;
    width: 100%;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.buscador-wrap .filtros .filtro-wrap > li {
    width: 80%;
    list-style: none;
    color: #fff;
    font-family: mpsemiboldcond;
    font-size: 1.4vw;
    text-transform: uppercase;
    background: #B2B2B2;
    padding: 4% 0 4% 5%;
    margin: 1% 0;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(209, 209, 209, 0.75);
    -moz-box-shadow: 0px 1px 1px 0px rgba(209, 209, 209, 0.75);
    box-shadow: 0px 1px 1px 0px rgba(209, 209, 209, 0.75);
    cursor: pointer;
}

.buscador-wrap .filtros .filtro-wrap > .sub-filtro {
    display: none;
    padding: 0;
    margin: 2% 0;
    width: 85%;
}

.buscador-wrap .filtros .filtro-wrap {
    border-left: 0.5vw solid #1ABB9A;
}

.buscador-wrap .filtros .filtro-wrap > .sub-filtro > li {
    list-style: none;
    display: block;
    background: #ECECFB;
    margin: 1% 0;
    padding: 3% 0;
    width: 90%;
    overflow: hidden;
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -ms-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    cursor: pointer;
}

.buscador-wrap .filtros .filtro-wrap > .sub-filtro > li:hover {
    background: #19BA99;
    width: 100%;
}

.buscador-wrap .filtros .filtro-wrap > .sub-filtro > li:hover .number {
    color: #fff;
}

.buscador-wrap .filtros .filtro-wrap > .sub-filtro > li:hover .name {
    color: #ECECFB;
}

.buscador-wrap .filtros .filtro-wrap > .sub-filtro > li .name {
    float: left;
    width: 73%;
    text-transform: capitalize;
    color: #B2B2B2;
    font-family: mpreg;
    padding-left: 7%;
    font-size: 1.2vw;
}

.buscador-wrap .filtros .filtro-wrap > .sub-filtro > li .number {
    float: left;
    width: 16%;
    margin-left: 4%;
    font-family: mpreg;
    font-size: 1.2vw;
    color: #19BA99;
}

/** FIN BUSCADOR **/

/*********** PROPIEDADES ***************/

.propiedades-wrap {
    float: left;
    width: 72%;
    margin: 8% 0 0 3%;
}

.info-wrap {
    overflow: hidden;
    font-family: mpreg;
    font-size: 1.2vw;
}

.info-wrap .resultados {
    float: left;
}

.info-wrap .resultados #number {
    color: #19BA99;
}

.info-wrap .ordenar {
    float: right;
}

.propiedades-wrap .propiedad {
    float: left;
    width: 99%;
    overflow: hidden;
    background: #E5E5E5;
    margin: 1% 0;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    -moz-box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    cursor: pointer;
}

.propiedades-wrap .propiedad img {
    float: left;
    width: 102%;
}

.propiedad .unica img {
    width: 37%;
}

.propiedades-wrap .propiedad .titulo {
    font-family: MPSemiboldCond;
    font-size: 1.6vw;
    float: left;
    width: 60%;
    margin: 3% 0 1% 3%;
}

.propiedades-wrap .propiedad .descripcion {
    margin: 0% 0 1% 3%;
    float: left;
    color: #A6A6A6;
    font-size: 1.3vw;
    width: 60%;
    font-family: MPSemiboldCond;
}

.propiedades-wrap .propiedad .caract {
    margin: 0% 0 1% 3%;
    float: left;

    color: #7D7D7D;
    font-size: 1.3vw;
    width: 60%;
    font-family: MPSemiboldCond;
}

.propiedades-wrap .propiedad .inmobiliaria {
    margin: 0% 0 1% 3%;
    float: left;

    color: #000000;

    font-size: 1.4vw;
    width: 60%;
    font-family: MPSemiboldCond;
}

.propiedades-wrap .propiedad .inmobiliaria span {
    color: #19B999;
}

.propiedades-wrap .propiedad .detalles {
    font-family: MPSemiboldCond;
    font-size: 1.3vw;
    color: #000;
    float: right;
    margin: 0 3% 0 0;
    border: solid;
    border-radius: 10px;
    border-width: medium;
    border-color: #7D7D7D;
    padding: 0.3% 2%;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    -moz-box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
}

.propiedades-wrap .propiedad .detalles-mobile {
    display: none;
    font-family: MPSemiboldCond;
    font-size: 2vw;
    color: #000;
    float: right;
    margin: -5% 3% 0 0;
    border: solid;
    border-radius: 25px;
    border-width: medium;
    border-color: #7D7D7D;
    padding: 0.3% 2%;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    -moz-box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
}

.arrow-wrap {
    /* float: left; */
    /* overflow: hidden; */
    /* margin-left: -6%; */
    /* position: relative; */
    /* z-index: 100; */
}

/*********** MEDIA QUERIES **************/
@media screen and (min-width: 1280px) {
    .menu li a, .aplicados li {
        font-size: 15px;
    }

    .content_title_txt, .buscador-wrap > .title {
        font-size: 22px;
    }

    .aplicados-wrap .title, .propiedades-wrap .info-wrap, .propiedades-wrap .propiedad .detalles {
        font-size: 16px;
    }

    .buscador-wrap .filtros .filtro-wrap > li, .propiedades-wrap .propiedad .descripcion, .propiedades-wrap .propiedad .caract {
        font-size: 19px;
    }

    .buscador-wrap .filtros .filtro-wrap > .sub-filtro > li .name, .buscador-wrap .filtros .filtro-wrap > .sub-filtro > li .number {
        font-size: 14px;
    }

    .propiedades-wrap .propiedad .titulo {
        font-size: 21px;
    }

    .propiedades-wrap .propiedad .inmobiliaria {
        font-size: 20px;
    }

    .buscador-wrap .search-bar {
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /*********** PROPIEDADES ***************/
    .propiedades-wrap .info-wrap {
        font-size: 2vw;
    }

    .propiedades-wrap .propiedad .titulo, .propiedades-wrap .propiedad .inmobiliaria {
        font-size: 2.4vw;
    }

    .propiedades-wrap .propiedad .descripcion, .propiedades-wrap .propiedad .caract {
        font-size: 2.2vw;
    }

    .propiedades-wrap .propiedad .detalles {
        font-size: 1.6vw;
    }

    .buscador-wrap > .title {
        font-size: 3vw;
    }

    .buscador-wrap .filtros .filtro-wrap > li {
        font-size: 2.3vw;
    }

    .buscador-wrap .filtros .filtro-wrap > .sub-filtro > li .name {
        font-size: 1.7vw;
    }

    .buscador-wrap .filtros .filtro-wrap > .sub-filtro > li .number {
        font-size: 1.9vw;
    }

    .buscador-wrap .search-bar {
        font-size: 2vw;
    }

}

@media screen and (min-width: 480px) and (max-width: 768px) {
    /*********** PROPIEDADES ***************/
    .propiedades-wrap .info-wrap {
        font-size: 2vw;
    }

    .propiedades-wrap .propiedad .titulo {
        font-size: 2.5vw;
        width: 56%;
    }

    .propiedades-wrap .propiedad img {
        /* width: 40%; */
    }

    .propiedades-wrap .propiedad .descripcion {
        font-size: 2.3vw;
        width: 56%;
        margin: 0 0 0 2%;
    }

    .propiedades-wrap .propiedad .caract {
        font-size: 2.3vw;
        width: 56%;
        margin: 0 0 0 2%;
    }

    .propiedades-wrap .propiedad .inmobiliaria {
        font-size: 2.5vw;
        width: 56%;
        margin: 0 0 0 2%;
    }

    .propiedades-wrap .propiedad .detalles {
        display: none;
    }

    .propiedades-wrap .propiedad .detalles-mobile {
        display: block;
    }

    .buscador-wrap > .title {
        font-size: 3vw;
    }

    .buscador-wrap .filtros .filtro-wrap > li {
        font-size: 2.5vw;
    }

    .buscador-wrap .filtros .filtro-wrap > .sub-filtro > li .name {
        font-size: 2vw;
    }

    .buscador-wrap .filtros .filtro-wrap > .sub-filtro > li .number {
        font-size: 2.2vw;
    }

    .buscador-wrap .search-bar {
        font-size: 2vw;
    }
}

@media screen and (max-width: 480px) {

    /*********** PROPIEDADES ***************/
    .propiedades-wrap {
        width: 100%;
        margin: 4% 0 0 0%;
    }

    .propiedades-wrap .info-wrap {
        font-size: 4vw;
    }

    .propiedades-wrap .info-wrap .resultados {
        float: left;
    }

    .propiedades-wrap .info-wrap .resultados #number {
        color: #19BA99;
    }

    .propiedades-wrap .info-wrap .ordenar {
        float: right;
    }

    .propiedades-wrap .propiedad img {
        width: 101%;
    }

    .propiedades-wrap .propiedad .titulo {
        font-size: 5vw;
        width: 100%;

        margin-left: 2%;
    }

    .propiedades-wrap .propiedad .descripcion {
        font-size: 3.7vw;
        width: 100%;

        margin-bottom: 2%;
    }

    .propiedades-wrap .propiedad .caract {
        font-size: 4vw;
        width: 40%;
    }

    .propiedades-wrap .propiedad .inmobiliaria {
        float: right;
        font-size: 4vw;
        width: 50%;
    }

    .propiedades-wrap .propiedad .detalles {
        display: none;
    }

    .propiedades-wrap .propiedad .detalles-mobile {
        display: none;
    }

    .arrow-left, .arrow-right {
        display: none !important;
    }

    /*********** BUSCADOR ***************/
    .search-bar-wrap {
        display: none;
    }

    .search-mobile-bar {
        display: block;
    }

    #search-box {
        display: block;
        float: right;
        margin: 2% 0;
        width: 35%;
        padding: 1% 0 1% 2%;
        border: none;
        font-family: mpreg;
        font-size: 4vw;
    }

    #search-submit {
        display: block;
        float: right;
        width: 10%;
    }

    .buscador-wrap {
        display: none;
        width: 100%;
        margin: 0;
    }

    .buscador-wrap > .buscador-icon {
        display: none;
    }

    .aplicados-wrap .title {
        font-size: 5vw;
    }

    .aplicados li {
        font-size: 4vw;
    }

    .mobile-buscador {
        display: block;

        margin: 3% 0;
        font-family: MPReg;
        font-size: 4vw;

        padding-left: 7%;

        float: left;
        width: 36%;
    }

    .mobile-search-name {
        display: block;
        width: 50%;
        margin: 8% auto -2% auto;
    }

    .buscador-wrap > .title {
        width: 20%;
        font-size: 6vw;
        float: left;
        display: none;
    }

    .buscador-wrap .filtros {
        float: right;
        width: 100%;
    }

    .buscador-wrap .filtros .filtro-wrap {
        width: 100%;
        float: left;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        border-left: 2vw solid #1ABB9A;

    }

    .buscador-wrap .filtros .filtro-wrap > li {
        font-size: 6vw;
        margin: 0 0 1% 0;
    }

    .buscador-wrap .filtros .filtro-wrap:last-child li {
        margin: 0;
    }

    .buscador-wrap .filtros .filtro-wrap > .sub-filtro > li .name {
        font-size: 4vw;
    }

    .buscador-wrap .filtros .filtro-wrap > .sub-filtro > li .number {
        font-size: 5vw;
    }
}