/******** FONTS***********/
@font-face {
    font-family: MPReg;
    src: url('../fonts/Myriad Pro/MyriadPro-Regular.otf');
}

@font-face {
    font-family: MPSemiboldCond;
    src: url('../fonts/Myriad Pro/MyriadPro-SemiboldCond.otf');
}

@font-face {
    font-family: MPLightCond;
    src: url('../fonts/Myriad Pro/MyriadPro-LightCond.otf');
}

@font-face {
    font-family: MPCond;
    src: url('../fonts/Myriad Pro/MyriadPro-Cond.otf');
}

@font-face {
    font-family: MPLightIta;
    src: url('../fonts/Myriad Pro/MyriadPro-LightIt.otf');
}

body {
    background: #Fa9f3d;
    width: 100%;
    margin: auto;
    /* max-width: 1280px; */
}

.content-wrap {
    overflow: hidden;
    display: flex;
    background-color: #EEEEEE;
    /* top: 115px; */
    /* position: relative; */
    padding-top: 90px;
}

/********** COMMON ************/
a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

/********** HEADER **************/

header {
    width: 100%;
    margin: auto;
    position: fixed;
    /* top: 0px; */
    /* float: left; */
    height: 100px;
}

.header_wrap {
    width: 100%;
    margin: auto;
    overflow: hidden;
    background: #FA9F3D;
}

.logo {
    width: 238px;
    float: left;
    margin-left: 8%;
}

.logo img {
    width: 100%;
    margin-top: 2%;
}

.fa-power-off {
    color: #3F3F3F;
    float: right;
    margin: 26px 3% 0 0;
    width: 3% !important;
}

#logout {
    cursor: pointer;
}

.user {
    font-family: mpreg;
    float: right;
    color: #3F3F3F;
    margin: 30px 2%;
    font-size: 1.6vw;
}

/************ SIDEBAR **************/

.sidebar {
    float: left;
    width: 20%;
    background: #F99529;
    overflow: hidden;
    border-left: 4px solid #FA9F3D;
    max-width: 290px;
    min-height: 620px;
}

.sidebar .tabs {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.sidebar .tabs li {
    list-style: none;
    overflow: hidden;
    border-bottom: 1px solid #1E242B;
    border-top: 1px solid #383E4A;
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -ms-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;

    border-bottom: 0px solid #F99529;

    /* border-bottom-width: 2px; */
}

.sidebar .tabs li:hover {
    background: #FA9F3D;
    border-bottom-width: 4px;
}

.sidebar .tabs li .name {
    float: left;
    margin: 12% 0;
    font-family: mpreg;
    font-size: 1.5vw;
    color: #3F3F3F;
}

.fa-users,
.fa-list,
.fa-list-alt,
.fa-bell,
.fa-bullhorn,
.fa-file-text,
.fa-child,
.fa-user,
.fa-key,
.fa-calendar,
.fa-calendar-o,
.fa-gear,
.fa-user-md,
.fa-stethoscope,
.fa-pencil-square-o {
    float: left;
    margin: 10%;
    color: #3F3F3F;
}

/*********** CONTENT ****************/
.content_cirugias {
    overflow: hidden;
    width: 75%;
    margin-left: 3%;
    margin-top: 0%;
    min-height: 400px;
    max-width: 900px;
    float: left;
}

.content {
    overflow: hidden;
    width: 75%;
    margin-left: 3%;
    margin-top: 0%;

    /* padding-bottom: 2%; */
    min-height: 400px;
    /* padding-bottom: 2%; */
    max-width: 900px;
    float: left;
}

.steps-wrap {
    padding: 0;
    float: right;
    overflow: hidden;
    width: 30%;
    margin-bottom: -7%;
}

.steps-wrap .step {
    float: left;
    list-style: none;
    background: #888888;
    color: #ADADAD;
    text-align: center;
    padding: 1% 0%;
    margin: 0 0 0 1%;
    width: 49%;
    font-weight: bold;
    cursor: default;
}

.steps-wrap .step .name {
    font-family: mpcond;
    font-size: 2vw;
}

.steps-wrap .on {
    background: #1ABB9A;
    color: #fff;
}

.steps-wrap .step .description {
    font-family: MPLightCond;
    font-size: 1.5vw;
}

.content > .title {
    font-family: mpcond;
    text-transform: uppercase;
    font-size: 2.4vw;
    float: left;
    width: 100%;
    border-bottom: 5px solid #CBCBCB;
    margin-top: 5%;
    margin-bottom: 2%;
}

.content_cirugias > .title {
    font-family: mpcond;
    text-transform: uppercase;
    font-size: 2.3em;
    /* float: left; */
    width: 100%;
    border-bottom: 5px solid #CBCBCB;
    margin-top: 2%;
    margin-bottom: 2%;
}

.confirm {
    clear: both;
    width: 52%;
    margin: auto;
    margin-top: 5%;
    background: #FFF;
    padding: 3% 6% 6% 6%;
    text-align: center;
    font-family: MPLightIta;
    font-size: 2.5vw;
    color: rgb(97, 97, 97);
    -webkit-box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    -moz-box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
}

.confirm span {
    width: 100%;
    float: left;
    font-weight: bold;
}

/******* FORMS *********/
.error {
    color: rgba(255, 77, 80, 1.00);
    float: left; /* text-transform: uppercase; */
    font-style: italic;
}

.forms-wrap {
    width: 100%;
    float: left;
    overflow: hidden;
}

.form {
    background: #fff;
    float: left;
    width: 74%;
    margin: 1% 0;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    -moz-box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    font-family: mpreg;
    padding: 2%;
}

.inputs-wrap {
    display: none;
    float: left;
    width: 100%;
}

.display {
    display: block;
}

.form .input {
    float: left;
    width: 100%;
    overflow: hidden;
    margin: 1% 0 1% 0%;
}

.fa-chevron-down {
    float: right;
    /* margin: 2%; */
    cursor: pointer;
}

.fa-times-circle {
    float: right;
    /*padding: 2%;*/
    color: #989898;
    font-size: 1.2vw;
    cursor: pointer;
}

.fa-chevron-right {
    float: left;
    /* width: 5%; */
}

.form .title {
    float: left;
    width: 100%;
    margin: -1% 0 2% 0%;
    padding: 1% 0 0.5% 0;
    border-bottom: 2px solid #F99529;
    font-size: 1.5vw;
    cursor: pointer;
}

.form .input label {
    float: left;
    width: 23%;
    padding-left: 4%;
    font-size: 1.5vw;
    /* text-align: center; */
}

.form select {
    float: left;
    width: 40%;
    border: 1px solid #F99529;
    /* padding: 0.5%; */
    font-style: italic;
}

.form input {
    float: left;
    width: 40%;
    font-style: italic;
}

.form textarea {
    float: left;
    width: 40%;
    font-style: normal;
    font-size: 1vw;
}

.form .required {
    float: left;
    width: 11%;
    font-style: italic;
    color: #F99529;
    margin-left: 5%;
    font-size: 1vw;
}

.form .radio {
    width: 19%;
    float: left;
}

.form .radio input {
    width: 20%;
}

.form .checkbox {
    width: 2%;
    margin: 1% 0;
}

.form .inputs-wrap > label {
    float: left;
    width: 23%;
    margin: 1% 0;
}

.form .title .subtitle {
    font-style: italic;
    /* font-size: 1.3vw; */
}

.form img {
    float: left;
    width: 52%;
}

.form .etiqueta {
    float: left;
    overflow: hidden;
    width: 20%;
}

.etiqueta > .checkbox {
    width: 20%;
}

.siguiente {
    float: left;
    width: 18%;
    margin: 2% 29%;
    background: #F99529;
    /* border-radius: 10px; */
    overflow: hidden;
    cursor: pointer;
}

#submit {
    font-family: MPSemiboldCond;
    background: none;
    border: none;
    color: #fff;
    font-size: 2.5vw;
    float: left;
    width: 80%;
    cursor: pointer;
}

.next {
    color: #fff;
    font-size: 2vw;
    margin: 5% 0% 4% 0%;
    width: 20%;
}

/********** NOTIFICACIONES Y NOVEDADES ********/

.cards-wrap {
    float: left;
    width: 100%;
    margin-bottom: 2%;
    overflow: hidden;
}

.cards-wrap .card {
    float: left;
    width: 60%;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    -moz-box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    box-shadow: 1px 1px 1px 0px rgba(95, 95, 95, 0.75);
    margin: 1% 0;
    cursor: pointer;
    overflow: hidden;
}

.check {
    opacity: 0.3;
}

.uncheck {
}

.card img {
    float: left;
    width: 20%;
    margin-bottom: -0.2%;
}

.card .fa {
    float: right;
    color: #5C5F69;
    margin: 2%;
    /* font-size: 4vw; */
}

.card .doc {
    float: left;
}

.card .title {
    /* font-family: mpsemiboldcond !important; */
    width: 35% !important;
    color: rgb(116, 116, 116) !important;
    /* font-size: 2.3vw; */
    margin: 1% 0 0 2% !important;
    /* float: left; */
}

.card > .novedad-date {
    margin: 1% 0 0 2% !important;
    /* width: 20% !important; */
}

.card .date {
    float: left;
    width: 68%;
    font-family: MPLightIta;
    color: #B5B5B5;
    margin: 2% 0 0 2%;
    font-size: 1.3vw;
}

.card .name {
    float: left;
    width: 60%;
    margin: 0.5% 0 0 2%;
    font-family: mpreg;
    font-size: 1.3vw;
}

.card .type {
    font-size: 1.4vw;
    font-family: mpreg;
    margin: 2% 0 -2% 2%;
    float: left;
    width: 50%;
}

.card .text {
    font-family: mpreg;
    color: #262D38;
    width: 68%;
    font-size: 1.4vw;
    float: left;
    margin: 1% 0 0 2%;
    text-align: justify;
}

.content .info-wrap {
    overflow: hidden;
    font-family: mpreg;
    font-size: 1.2vw;
    margin: 6% 0 -8%;
}

.content .info-wrap .resultados {
    float: right;
    margin-top: 3px;
    margin-right: 1%;
}

.content .info-wrap .resultados #number {
    color: #19BA99;
}

.content .info-wrap .ordenar {
    float: right;
    margin-right: 2%;
}

.content .propiedades-wrap {
    margin: 0;
}

/***** INQUILINOS ************/

table {
    width: 100%;
    border: 2px solid #fff;
    font-family: mpreg;
    color: #585858;
    border: 1px solid #fff;
    border-collapse: collapse;
    margin-bottom: 2%;
}

table select, table input, table textarea {
    width: 100%;
    margin-bottom: 2%;
}

table th, table td {
    cursor: pointer;
    border: 1px solid #CACACA;
    padding: 1%;
    font-weight: 100;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

table thead > .tr_head {
    background: -webkit-linear-gradient(#FA9F3D, rgb(249, 149, 41)) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FA9F3D, rgb(249, 149, 41)) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FA9F3D, rgb(249, 149, 41)) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FA9F3D, rgb(249, 149, 41)) !important; /* Standard syntax */
    color: #FBFBFB;
}

.presente {
    background: -webkit-linear-gradient(#c1f7be, rgb(193, 247, 190)) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c1f7be, rgb(193, 247, 190)) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c1f7be, rgb(193, 247, 190)) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c1f7be, rgb(193, 247, 190)) !important; /* Standard syntax */
    color: #333;
}

.atendido {
    background: -webkit-linear-gradient(#FAC240, rgb(250, 194, 64)) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FAC240, rgb(250, 194, 64)) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FAC240, rgb(250, 194, 64)) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FAC240, rgb(250, 194, 64)) !important; /* Standard syntax */
    color: #333;
}

.presente a {
    color: inherit;
}

table tr {
    width: 100%;
}

table tr:nth-child(odd) {
    background: #FAFAFA;
}

table tr:ntd-child(odd) {
    background: #FAFAFA;
}

table i {
    color: #353535;
}

table a {
    color: inherit;
}

/********** FORM AGENDA QUIRURGICA *************/
#agenda_quirurgica .form-time-wrap {
    overflow: hidden;
    width: 24%;
    margin: 2px;
    float: left;
}

#agenda_quirurgica .form-time {
    width: 48%;
    margin: 0 1%;
    height: 40px;
    font-size: 1em;
}

#agenda_quirurgica .form-time input {
}

#paciente,
#agenda_quirurgica {
    /* float: left; */
    width: 99%;
    box-sizing: border-box;
    /* width: 100%; */
    background: #fff;
    padding: 1%;
    font-family: mpreg;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
    overflow: hidden;
}

#paciente input,
#paciente select,
#agenda_quirurgica input,
#agenda_quirurgica select {
    padding: 0.5% 1%;
    text-transform: uppercase;
    font-family: mpreg;
    font-style: italic;
    box-sizing: border-box;
    width: 24%;
    font-size: 1.1em;
    margin: 2px 2px;
    float: left;
    height: 40px;
}

#paciente .submit,
#agenda_quirurgica .submit {
    background: #d67a18;
    border: none;
    color: #fff;
    padding: 1%;
    cursor: pointer;
}

/********** FORM PACIENTE *************/

#paciente {
    float: left;
    width: 100%;
    /* width: 100%; */
    background: #fff;
    padding: 1%;
    font-family: mpreg;
}

#paciente input, #paciente select {
    padding: 0.5% 1%;
    text-transform: uppercase;
    font-family: mpreg;
    font-style: italic;
}

#paciente .submit {
    background: #FA9F3D;
    border: none;
    color: #fff;
    padding: 1%;
}

/********** FILTER PACIENTE *************/
.filtro-asistencia {
    background: none !important;
    /* border: 0 !important; */
}

.filtro-asistencia th {
    padding: 0;
    border: 0;
    background: none;
    border-style: hidden;
}

.filtro-asistencia input:first-child {
}

.filtro-asistencia input {
    width: 20%;
    padding: 2% 0 2% 2%;
    box-sizing: border-box;
    font-family: mpreg;
    font-size: 3vh;
    font-style: italic;
}

/***************** FULL CALENDAR CIRUGIAS **************/

.content_cirugias {
    font-family: MPReg;
    font-size: 1em;
    /* margin-left: 25%; */
}

#calendar {
    margin-top: 40px;
    z-index: 1;
}

.fc-view-container {
    background: rgba(255, 255, 255, 0.82);
}

.fc-slats td {
    height: 45px !important;
}

.fc-time-grid .fc-event, .fc-event {
    font-size: 1.7em;
    /* background-color: rgba(151, 203, 111, 0.9) !important; */
    font-family: MPSemiboldCond;
    /* width: 100%; */
    box-sizing: border-box;
    color: rgb(92, 92, 92);
    overflow: auto;
}

.fc-event {
    font-size: 0.7em !important;
    width: 96%;
}

/***************** FOOTER **************/

footer {
    clear: both;
    width: 100%;
    border-top: solid;
    border-top-color: #FA9F3D;
    border-top-width: thick;
}

.foot_1 {
    width: 100%;
    background: #E6E6E6;
    overflow: hidden;
    display: none;
}

.foot_1_wrap {
    width: 70%;
    margin: auto;
    overflow: hidden;
}

.foot_menu {
    margin: 2% 0 0 0;
    padding: 0;
    float: right;
    width: 60%;
    overflow: hidden;
}

.foot_menu li {
    float: left;
    list-style: none;
    width: 33%;
}

.foot_menu a {
    font-family: MPReg;
    font-size: 1.5vw;
    color: #FA9F3D;
}

.foot_menu li ul {
}

.foot_menu li ul li {
    display: block;
    font-family: MPLightIta;
    font-size: 1.3vw;
    color: #58585A;
    margin-top: 2%;
    width: 100%;
}

.foot_menu li ul a {
    font-family: MPLightIta;
    color: #58585A;
}

.foot_submenu {
    padding: 0;
    width: 100%;
}

.foot_2 {
    background: #Fa9f3d;
    overflow: hidden;
    padding-bottom: 3%;
}

.foot_2_wrap {
    width: 60%;
    margin: 0 25%;
    overflow: hidden;
}

.development {
    float: right;
    width: 24%;
    margin: 5% 10% 0 0;
}

.development_title {
    font-family: MPCond;
    font-size: 2vw;
    color: #FA9F3D;
}

.development_txt {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5vw;
    color: #F2F2F2;
}

.social img {
    width: 25%;
}

/*********** MEDIA QUERIES **************/
@media screen and (min-width: 1280px) {

    .user {
        font-size: 22px;
    }

    .sidebar .tabs li .name {
        font-size: 22px;
    }

    .content > .title {
        font-size: 30px;
    }

    .form .input label {
        font-size: 17px;
    }

    .form .title {
        font-size: 20px;
    }

    .form {
        font-size: 16px;
    }

    .steps-wrap .step .name {
        font-size: 28px;
    }

    .steps-wrap .step .description {
        font-size: 20px;
    }

    .social_title {
        font-size: 30px;
    }

    .social_txt {
        font-size: 17px;
    }

    .fa-2x {
        font-size: 2vw !important;
    }

    .siguiente {
        float: left;
        width: 18%;
        margin: 2% 29%;
        background: #FD8C64;
        /* border-radius: 10px; */
        overflow: hidden;
        cursor: pointer;
    }

    #submit {
        /* font-family: MPSemiboldCond; */
        /* background: none; */
        /* border: none; */
        /* color: #fff; */
        font-size: 30px;
        /* float: left; */
        /* width: 80%; */
        /* cursor: pointer; */
    }

    .next {
        /* color: #fff; */
        font-size: 25px;
        /* margin: 5% 0% 4% 0%; */
        /* width: 20%; */
    }

    .content .info-wrap {
        font-size: 19px;
    }

    .card .type {
        font-size: 20px;
    }

    .card .fa {
        font-size: 24px !important;
    }

    .card .doc {
        font-size: 70px !important;
    }

    .card .date {
        font-size: 19px;
    }

    .card .name {
        font-size: 18px;
    }

    .card .text {
        font-size: 17px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .form {
        width: 95%;
    }

    .form .required {
        font-size: 1.5vw;
    }

    /*************** FOOTER ************/
    .foot_1_wrap {
        width: 100%;
    }

    .foot_1 img {
        /* float: none; */
        /* width: 70%; */
    }

    .foot_menu {
        width: 100%;
        float: none;
        display: none;
    }

    .foot_menu a {
        font-size: 4vw;
    }

    .foot_2_wrap {
        width: 100%;
        margin: 0;
    }

    .social img {
        width: 65%;
    }

    .social_title {
        font-size: 3vw;
    }

    .social {
        margin: 5% 17% 0 0;
        width: 11%;
    }

    .social_txt {
        font-size: 2vw;
        /* width: 100%; */
    }

    .siguiente {
        float: left;
        width: 21%;
        margin: 2% 38%;
        background: #F99529;
        /* border-radius: 10px; */
        overflow: hidden;
        cursor: pointer;
    }

    #submit {
        /* font-family: MPSemiboldCond; */
        /* background: none; */
        /* border: none; */
        /* color: #fff; */
        font-size: 3vw;
        /* float: left; */
        /* width: 80%; */
        /* cursor: pointer; */
    }

    .next {
        color: #fff;
        font-size: 2.5vw;
        margin: 6% 0% 4% 0%;
        width: 20%;
    }

    .content .info-wrap {
        font-size: 2vw;
    }

    .card .type {
        font-size: 2vw;
    }

    .card .fa {
        font-size: 2.5vw;
    }

    .card .date {
        font-size: 1.9vw;
    }

    .card .doc {
        font-size: 70px;
    }

    .card .name {
        font-size: 1.9vw;
    }

    .card .text {
        font-size: 1.9vw;
    }

    .cards-wrap .card {
        width: 80%;
    }

    .content .propiedades-wrap {
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .content-wrap {
        overflow: hidden;
        display: block;
        padding-top: 90px;
    }

    .header_wrap {
        padding: 0;
    }

    .user {
        font-size: 3vw;
        /* margin-top: 3%; */
    }

    .logo {
        /* width: 44%; */
        /* padding: 2% 0; */
    }

    .sidebar .fa {
        width: 100%;
    }

    .fa-2x {
        font-size: 5vw !important; /* width: 81%; */
    }

    .content {
        width: 95%;
        padding: 0 2%;
    }

    .content_cirugias {
        width: 95%;
        padding: 0 2%;

        margin: 120px 0 0 0;
    }

    .form {
        width: 95%;
    }

    .forms-wrap {
    }

    .form .title {
        font-size: 3vw;
    }

    .form .required {
        font-size: 2.2vw;
    }

    .form .input label {
        font-size: 2.2vw;
    }

    .sidebar {
        width: 100%;
        border-left: none;
        border-bottom: 4px solid #F99529;
        max-width: none;
        min-height: 0;
        /* border-top: 2px solid #5C5C5C; */
    }

    .sidebar .tabs li {
        width: 20%;
        float: left;
        border-bottom: 2px solid #646464;
        border-right: 1px solid #383E4A;
        border-left: 1px solid #1E242B;
        box-sizing: border-box;
        margin-bottom: -1px;
        text-align: center;
    }

    .sidebar .tabs li:hover {
        border-bottom: 2px solid #646464;
        border-right: 1px solid #383E4A;
        border-left: 1px solid #1E242B;
    }

    .content > .title {
        font-size: 4vw;
    }

    .steps-wrap .step .name {
        font-size: 4vw;
    }

    .steps-wrap .step .description {
        font-size: 2.5vw;
    }

    .steps-wrap {
        width: 50%;
    }

    .sidebar .tabs li .name {
        font-size: 2.3vw;
        width: 100%;
    }

    .form .checkbox {
        width: 10%;
    }

    /*************** FOOTER ************/
    .foot_1_wrap {
        width: 100%;
    }

    .foot_1 img {
        /* float: none; */
        /* width: 70%; */
    }

    .foot_menu {
        width: 100%;
        float: none;
        display: none;
    }

    .foot_menu a {
        font-size: 4vw;
    }

    .foot_2_wrap {
        width: 100%;
        margin: 0;
    }

    .social img {
        width: 65%;
    }

    .social_title {
        font-size: 3vw;
    }

    .social {
        margin: 5% 17% 0 0;
        width: 11%;
    }

    .social_txt {
        font-size: 2vw;
        /* width: 100%; */
    }

    .siguiente {
        /* float: left; */
        width: 27%;
        margin: 2% 35%;
        /* background: #F99529; */
        /* border-radius: 10px; */
        /* overflow: hidden; */
        /* cursor: pointer; */
    }

    #submit {
        /* font-family: MPSemiboldCond; */
        /* background: none; */
        /* border: none; */
        /* color: #fff; */
        font-size: 5vw;
        /* float: left; */
        width: 80%;
        /* cursor: pointer; */
    }

    .next {
        /* color: #fff; */
        font-size: 4vw;
        margin: 7% 0% 4% 0%;
        /* width: 20%; */
    }

    .content .info-wrap {
        font-size: 2.5vw;
    }

    .card .type {
        font-size: 2.5vw;
    }

    .card .fa {
    }

    .card .doc {
        font-size: 70px;
    }

    .card .date {
        font-size: 2.4vw;
        width: 50%;
    }

    .card .name {
        font-size: 2.4vw;
    }

    .card .text {
        font-size: 3vw;
        margin-top: 0%;
    }

    .cards-wrap .card {
        width: 98%;
    }

    .content .propiedades-wrap {
        width: 97%;
    }
}

@media screen and (max-width: 480px) {
    .content-wrap {
        overflow: hidden;
        display: block;

        padding-top: 77px;
    }

    .header_wrap {
        padding: 2% 0 0 0;
    }

    .user {
        font-size: 3.3vw;
        margin: 25px 11px 25px 0;
    }

    .logo {
        width: 170px;
        /* padding: 2% 0; */

        margin: 0 15%;
    }

    .fa-2x {
        font-size: 6vw !important;
        padding: 0; /* margin: 20px 20px 0 0; */
    }

    .content {
        width: 95%;
        padding: 0 2%;
    }

    .form {
        width: 95%;
    }

    .forms-wrap {
    }

    .form .title {
        font-size: 3.5vw;
    }

    .form .input label {
        font-size: 3vw;

        width: 33%;
    }

    .content_cirugias {
        margin-left: 0;
        width: 98%;
        margin: 108px auto;
    }

    .sidebar {
        width: 100%;
        border-left: none;
        border-bottom: 4px solid #F99529;

        max-width: none;
        min-height: 0;
    }

    .sidebar .tabs li {
        width: 20%;
        float: left;
        border-top: 0;
        border-bottom: 1px solid #646464;
        border-right: 0px solid #383E4A;
        border-left: 1px solid #1E242B;
        box-sizing: border-box;
        margin-bottom: -1px;
        /* text-align: center; */
    }

    .sidebar .tabs li:hover {
        border-bottom: 1px solid #646464;
        border-right: 0px solid #383E4A;
        border-left: 1px solid #1E242B;
    }

    .content > .title {
        font-size: 4vw;

        margin-top: 10%;
    }

    .steps-wrap .step .name {
        font-size: 4vw;
    }

    .steps-wrap .step .description {
        font-size: 2.5vw;
    }

    .steps-wrap {
        width: 50%;
    }

    .sidebar .tabs li .name {
        /* font-size: 2.3vw; */

        display: none;
    }

    .form .required {
        font-size: 3vw;
    }

    .form select {
        width: 40%;
    }

    .form input {
        width: 36%;
    }

    .form textarea {
        width: 36%;
    }

    .form .checkbox {
        width: 10%;
    }

    .form .etiqueta {
        width: 33%;
    }

    /*************** FOOTER ************/
    .foot_1_wrap {
        width: 100%;
    }

    .foot_1 img {
        /* float: none; */
        /* width: 70%; */
    }

    .foot_menu {
        width: 100%;
        float: none;
        display: none;
    }

    .foot_menu a {
        font-size: 4vw;
    }

    .foot_2_wrap {
        width: 100%;
        margin: 0;
    }

    .social img {
        width: 65%;
    }

    .social_title {
        font-size: 6vw;
    }

    .social {
        margin: 5% 8% 0 0;
        width: 24%;
    }

    .social_txt {
        font-size: 4vw;
    }

    .siguiente {
        /* float: left; */
        width: 33%;
        margin: 2% 29%;
        /* background: #F99529; */
        /* border-radius: 10px; */
        /* overflow: hidden; */
        /* cursor: pointer; */
    }

    #submit {
        /* font-family: MPSemiboldCond; */
        /* background: none; */
        /* border: none; */
        /* color: #fff; */
        font-size: 5vw;
        /* float: left; */
        /* width: 80%; */
        /* cursor: pointer; */
    }

    .next {
        /* color: #fff; */
        font-size: 5vw;
        margin: 5% 0% 2% 0%;
        /* width: 20%; */
    }

    .content .info-wrap {
        font-size: 3.3vw;
    }

    .card .type {
        font-size: 3.5vw;
    }

    .card .fa {
    }

    .card .doc {
        font-size: 70px;
    }

    .cards-wrap .card {
        width: 99%;
    }

    .card .date {
        width: 50%;
        font-size: 3.4vw;
    }

    .card .name {
        font-size: 3.4vw;
    }

    .card .text {
        font-size: 3vw;
        /* margin-top: -4%; */
    }
}