/**** FONT COLOR ****/
$font-color-light: #fff;
$font-color-medium: #848484;
$font-color-dark: #444;

/**** COLORS *****/
$background-color: #EEEEEE;
$secondary-color: #DDDDDD;
$element-bg-color: #FAFAFA;
$main-color: #474747; /*Cambia el color general de framework (Header, botones, hovers, etc.)*/
$main-color-border: #f9fafc;
