/*********** Form Style 2 ***************/
.form-style-2 {
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
    visibility: hidden;
    background: #fff;
    position: absolute;
    z-index: 101;
    padding: 30px 40px 34px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    -box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.form-style-2-heading {
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 1.4em;
    padding-bottom: 5px;
    text-align: center;
}

.form-style-2 label {
    display: block;
    margin: 20px auto;
    font-size: 1.2em;
    /* float: left; */
    width: 90%;
}

.form-style-2 label > span {
    width: 25%;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

.form-style-2 span.required {
    color: red;
}

.form-style-2 .tel-number-field {
    width: 40px;
    text-align: center;
}

.form-style-2 input.input-field {
    width: 65%;

}

.form-style-2 input.input-field,
.form-style-2 .tel-number-field,
.form-style-2 .textarea-field,
.form-style-2 .select-field {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}

.form-style-2 .input-field:focus,
.form-style-2 .tel-number-field:focus,
.form-style-2 .textarea-field:focus,
.form-style-2 .select-field:focus {
    border: 1px solid #0C0;
}

.form-style-2 .textarea-field {
    height: 100px;
    width: 55%;
}

.form-style-2 input[type=submit],
.form-style-2 input[type=button].
.form-style-2 a.submit {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover,
.form-style-2 a.submit {
    background: #EA7B00;
    color: #fff;
}

/*********** PROPIEDADES ***************/
#modal {
    width: 100%;
    max-width: 700px;
    height: 400px;
    box-sizing: border-box;
    padding: 20px;
    visibility: hidden;
    display: block;
    background: rgba(255, 255, 255, 1);

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto;
    /* margin-top:-94px !important; */
    /* margin-left:-180px !important; */
    z-index: 101;
}

.modalCirugia {
    height: 450px !important;
}

.modalCirugia .button {
    width: 25% !important;
    margin: 10px auto !important;
}

#modal-paciente {
    width: 100%;
    height: 670px;
    padding: 8px;
    visibility: hidden;
    display: block;
    background: rgba(255, 255, 255, 1);

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    position: fixed !important;
    top: 20% !important;
    left: 50% !important;
    margin-top: -94px !important;
    margin-left: -180px !important;
    z-index: 101;
}

#modal .button {
    transition: none;
    width: 30%;
    margin: 10px 7%;
}

#listado .button {
    /*width: 99%;*/
    box-sizing: border-box;
    /*margin: 0 !important;*/
    font-size: 1em;
    padding: 10px 20px;
}

.button {
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    padding: 7px 10px;
    text-transform: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    /* auto */
    text-align: center;
    /* DELETE WHEN WIDTH AUTO */
}

.button.red {
    background: none repeat scroll 0 0 #E0645C;
    color: #FFFFFF;
}

.button.red:hover {
    background: none repeat scroll 0 0 #999999;
    color: #FFFFFF;
}

.button.dark {
    background: none repeat scroll 0 0 #444444;
    color: #FFFFFF;
}

.button.dark:hover {
    background: none repeat scroll 0 0 #2DB6CF;
    color: #FFFFFF;
}

.button.light {
    background: none repeat scroll 0 0 #999999;
    color: #FFFFFF;
}

.button.light:hover {
    background: none repeat scroll 0 0 #444444;
    color: #FFFFFF;
}

.button.green {
    background: none repeat scroll 0 0 #63B267;
    color: #FFFFFF;
}

.button.green:hover {
    background: none repeat scroll 0 0 #515151;
    color: #FFFFFF;
}

.button.orange {
    background: none repeat scroll 0 0 #Fa9f3d;
    color: #FFFFFF;
}

.button.orange:hover {
    background: none repeat scroll 0 0 #515151;
    color: #FFFFFF;
}

.button.blue {
    background: none repeat scroll 0 0 #2DB6CF;
    color: #FFFFFF;
}

.button.blue:hover {
    background: none repeat scroll 0 0 #444444;
    color: #FFFFFF;
}

/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */

.reveal-modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    background: rgba(0, 0, 0, .8);
    z-index: 100;
    display: none;
    top: 0;
    left: 0;
}

.reveal-modal {
    visibility: hidden;
    top: 100px;
    left: 50%;
    margin-left: -300px;
    width: 520px;
    background: #eee url(modal-gloss.png) no-repeat -200px -80px;
    position: absolute;
    z-index: 101;
    padding: 30px 40px 34px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    -box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.reveal-modal.small {
    width: 200px;
    margin-left: -140px;
}

.reveal-modal.medium {
    width: 400px;
    margin-left: -240px;
}

.reveal-modal.large {
    width: 600px;
    margin-left: -340px;
}

.reveal-modal.xlarge {
    width: 800px;
    margin-left: -440px;
}

.reveal-modal .close-reveal-modal {
    font-size: 22px;
    line-height: .5;
    position: absolute;
    top: 8px;
    right: 11px;
    color: #aaa;
    text-shadow: 0 -1px 1px rbga(0, 0, 0, .6);
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {

    #modal {
        /* width:284px; */
        /* height:156px; */
        /* padding:8px; */

        /* margin-left:-150px !important; */
        /* margin-top:-78px; */
    }

    .form-style-2-heading {
        /* width:284px; */
        /* height:28px; */

        /* line-height:28px; */
        /* font-size:0.688em; */
    }

    .button img {
        width: 23px;
        height: 23px;
    }

    #listado .button {
        width: 99%;
        box-sizing: border-box;
        height: 40px;
        margin: 1px 0 !important;
    }

    .button {
        width: 25%;
        height: 23px;

        line-height: 23px;

    }

    #modal .button.green

.2x, .button.light

.2x {
      margin: 10px 7% !important;
  }

    .modalCirugia .button.green

.3x, .button.light

.3x {
      margin: 10px 7% !important;
  }

    .button.green, .button.light {
        /* margin: 5px 2% 0 3% !important; */
    }

    .button.red {
        /* margin:0 28px 0 4px !important; */
    }
}

@media screen and (max-width: 480px) {
    .button {
        width: 46%;
        box-sizing: border-box;
        height: 38px;
    }

    #modal .button {
        width: 46%;
        margin: 13px 2% !important;
        float: left;
    }

    .modalCirugia {
        padding: 10px 2px !important;
    }

    .form-style-2 label {
        width: 115%;
    }

    .button.green, .button.light {
        font-size: 1em;
        margin: 5px 2% 0 2% !important;
    }
}